body {
    font-family: Arial, sans-serif;
    background: linear-gradient(90deg, rgba(151,255,168,1) 0%, rgba(105,230,255,1) 100%);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container1 {
    display: flex;
    width: 60%;
   

}

.abc {
    width: 500px; /* Prend toute la largeur disponible */
    max-width: 500px; /* Largeur maximale du formulaire */
    padding: 150px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; /* Inclut le padding dans la largeur totale */
    margin: 20px; /* Espacement extérieur */
}

.container h2 {
    width: 200px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.container input[type="email"],
.container input[type="password"] {
    width: 100%; /* Prend toute la largeur de la div parente */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Inclut le padding dans la largeur totale */
}

.container button {
    width: 100%; /* Prend toute la largeur de la div parente */
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.container button:hover {
    background-color: #0056b3;
}

.container a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
}

.container a:hover {
    text-decoration: underline;
}
